.header-font {
  font-family: 'Rubik Mono One', 'Helvetica Neue', 'Helvetica', sans-serif;
}
.card-font {
  font-family: 'Oswald', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-weight: 400;
}
.description-font {
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
}
.landing-background {
  position: relative;
  z-index: 1;
}
.landing-background::before {
  content: "";
  position: absolute;
  z-index: -1;
  background-image: url("./media/landing.jpg");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .8;
}
.landing-quote {
  background-color: gainsboro;
  opacity: .85;
  padding-bottom: 2%;
  border-radius: 1%;
  margin-left: 5px;
  margin-right: 5px;
}
.pointer-hover {
  cursor: pointer;
}
.cart-quantity {
  color: white;
  text-align: center;
  font-weight: bold;
  background-color: orangered;
  border-radius: 10%;
}
.thankyou-image {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    .landing-background::before {
      height: 150vh;
    }
    .landing-quote {
      padding-bottom: 5%;
      border-radius: 1%;
      margin-left: 5px;
      margin-right: 5px;
    }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .landing-background::before {
      height: 140vh;
    }
    .landing-quote {
      padding-bottom: 5%;
      border-radius: 1%;
      margin-left: 5px;
      margin-right: 5px;
    }
}

/* ----------- iPhone X ----------- */

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .landing-background::before {
      height: 140vh;
    }
    .landing-quote {
      padding-bottom: 5%;
      border-radius: 1%;
      margin-left: 5px;
      margin-right: 5px;
    }
}